/* Global Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #300D53; */
    font-family: 'Gafata', sans-serif;
}

#page-wrapper {
    /* position: absolute; */
    width: 100%;
}

li {
    list-style: none;
}

a {
    /* color: #F4ECFD; */
    text-decoration: none;
}

/*  */

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
}



/* Navbar Styling */

header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    background-color: #F4ECFD;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    display: flex;
    font-size: 2rem;
    padding: 10px;
    color: #0C0514
}

#logo-icon {
    padding-right: 15px;
}

nav {
    float: right;
    font-weight: 400;
}

nav ul {
 margin: 0;
 padding: 0;   
}

nav li {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 20px;

    position: relative;
}

nav a {
    color: #0C0514;
    text-transform: uppercase;
}

nav a:hover {
    color: #33164F;
    font-weight: 400;
    text-shadow: 1px 1px 1px #DFBCF5;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: black;

    position: absolute;
    top: 15px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/*  */

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    background-image: url("img/galaxia.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: #0C0514;
}

.headline {
    margin-bottom: 30px;
    color: #F4ECFD;
    font-size: 1.7em;
    text-shadow: 1.2px 1.2px .8px #33164F;
}

.landing input[type="email"] {
    padding: 0 20px;
    height: 35px;
    font-family: inherit;
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.landing input[type="button"] {
    margin-top: 25px;
    padding: 0 20px;
    height: 35px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #F3D876;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.landing input[type="button"]:hover {
    background-color: #D4A806;
    transition: background-color 1s;
}