/* Global Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #300D53; */
    font-family: 'Gafata', sans-serif;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: #0C0514;
}

#page-wrapper {
    position: absolute;
    width: 100%;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

/*  */

.container {
    /* max-width: 1000px; */
    width: 100%;
    margin: 0 auto;
}



/* Navbar Styling */

header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    background-color: #F4ECFD;
    font-family: inherit;
    color: #0C0514;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    display: flex;
    font-size: 26px;
    padding: 10px;
    color: #0C0514;
}

#logo {
    padding: 0 15px 0 0;
}

/* .logo {
    float: left;
    display: flex;
    font-size: 2rem;
    padding: 10px;
    color: #0C0514
}

#logo {
    padding: 0 15px 0 10px;
}

nav {
    float: right;
} */

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.hamburger {
    background-color: transparent;
    border: 0;
    padding-right: 15px;
    display: none;
    color: #0C0514;
    font-size: 24px;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

.nav-ul li {
    position: relative;
}

/* 
nav li {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 20px;
    position: relative;
} */

.nav-link {
    display: inline-block;
    color: #0C0514;
    text-transform: uppercase;
    padding: 10px 20px;
}

.nav-link:hover {
    color: #33164F;
    font-weight: 400;
    text-shadow: 1px 1px 1px #DFBCF5;
}

.nav-link::before {
    content: '';
    display: block;
    height: 2.5px;
    background-color: #F4ECFD;
    box-shadow: 0 0 10px #47117C, 0 0 20px #7028B8, 0 0 30px #7C30C9, 
    0 0 40px #DFBCF5, 0 0 50px #EDDCF8;

    position: absolute;
    top: 5px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.nav-link:hover::before {
    width: 70%;
}

/* at 830px nav links drop down to 2nd row */
/* at 490px nav links collapse */

@media (max-width: 830px) {
    .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* Landing Section */

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    background-image: url("img/galaxia.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: #0C0514;
}

.headline {
    margin-bottom: 30px;
    color: #F4ECFD;
    font-size: 1.7em;
    text-shadow: 1.2px 1.2px .8px #33164F;
}

.landing input[type="email"] {
    padding: 0 20px;
    height: 35px;
    font-family: inherit;
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.landing input[type="button"] {
    margin-top: 25px;
    padding: 0 20px;
    height: 35px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #F3D876;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.landing input[type="button"]:hover {
    background-color: #D4A806;
    transition: background-color 1s;
}

@media (max-width: 520px) {
    .headline {
        font-size: 1.4em;
    }
}

@media (max-width: 410px) {
    .headline {
        font-size: 1.1em;
    }
}

/* features */

.features {
    margin: 150px auto;
    width: 65%;
}

.grid {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    justify-content: center;
}

.features .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 20vw;
    padding-left: 20px;
    font-size: 2.5em;
    /* glow effect */
    -webkit-animation: glow 1s ease-in-out infinite alternate;

}

/* glow effect */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #47117C, 0 0 20px #7028B8, 0 0 30px #7C30C9, 
        0 0 40px #DFBCF5, 0 0 50px #EDDCF8;
    }

    to {
        text-shadow: 0 0 20px #EE80F3, 0 0 30px #F09DF5, 0 0 40px #F09DF5, 
        0 0 50px #F3C0F6, 0 0 60px #F3D5F5, 0 0 70px #F2DBF4;
    }
}

.features .feat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
}

.features .emph {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.features .desc {
    padding-top: 16px;
}

@media (max-width: 760px) {
    .features .icon {
        display: none;
    }
}

@media (max-width: 760px){
    .features .feat {
        width: 100%;
        text-align: center;
    }
}

/* video */

.experience {
    margin: 150px auto;
    display: flex;
    justify-content: center;
}

.experience > iframe {
    max-width: 560px;
    width: 100%;
}

/* Pricing / Cards */

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 150px 0px;
}

.pricing .product {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #33164F;
    max-width: 350px;
    width: 33%;
    margin: 0 25px;
    background-color: #F4ECFD;
    border: 0px;
    border-radius: 15px;

}

.level {
    background-color: #47117C;
    border-radius: 15px 15px 0 0;
    width: 100%;
    padding: 15px 0;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: white;
    text-shadow: 0 0 5px #EE80F3, 0 0 10px #F09DF5, 0 0 20px #F3D5F5;

}

.product > h2 {
    margin-top: 20px;
}

.product > ol {
    margin: 20px 0 15px 0;
    line-height: 2em;
}

.product > .btn {
    width: 125px;
    height: 30px;
    align-self: center;
    margin: 25px 0;
    font-family: inherit;
    font-size: 0.8em;
    letter-spacing: .2em;
    text-transform: uppercase;
    background-color: white;
    border: 0px;
    border-radius: 10px;
    box-shadow:  0 8px 20px #F3D5F5;
    cursor: pointer;
    transition: transform 300ms;
}

.product .btn:hover {
    background-color: #47117C;
    color: white;
    box-shadow: 0 15px 30px #7C30C9;
    transform: translateY(-7px);
}

@media (max-width: 800px){
    .pricing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pricing .product {
        width: 70%;
        max-width: 450px;
        margin: 35px 0;
    }
}

/* Footer */

footer {
    background-color: #33164F;
    padding: 20px 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media (max-width: 400px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}

footer > ul {
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
}

footer > ul > li {
    padding: 0 20px;
}

footer > ul > li > a:hover {
    text-shadow: 0 0 5px #F3D5F5;
}

footer > span {
    font-size: 0.7em;
}